* {
  padding: 0;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.card {

   min-height: 300px;
  background-color: lightgray;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}

.train__wrapper{
   display: grid; 
   grid-auto-columns: 1fr; 
   grid-template-columns: 1fr 1fr 1fr; 
   grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
   gap: 20px 20px; 
   grid-template-areas: 
   "card-1 card-1 card-2"
   "card-1 card-1 card-3"
   "card-4 card-6 card-6"
   "card-5 card-6 card-6"
   "card-7 card-7 card-8"
   "card-7 card-7 card-9"; 
}

.card-1 { grid-area: card-1; }
.card-2 { grid-area: card-2; }
.card-3 { grid-area: card-3; }
.card-4 { grid-area: card-4; }
.card-5 { grid-area: card-5; }
.card-6 { grid-area: card-6; }
.card-7 { grid-area: card-7; }
.card-8 { grid-area: card-8; }
.card-9 { grid-area: card-9; }